* {
    margin: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

form {
    background-color: #fff;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 2%;
    padding-left: 2%;
    width: auto;
    height: auto;
    box-shadow: 1px 1px 8px 3px grey;
}

fieldset {
    border: none;
    font-family: Californian FB;

}

fieldset legend {

    padding-top: 15%;
    font-family: Cambria Math;
    font-size: 30px;
}


.pclass {
    padding: 2px;
}

input[type=email], input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
    box-shadow: 1px 1px 2px 2px grey;
}