* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 25px;
    /*margin-bottom: 10%;*/
}

/* Container for flexboxes */
.rowContainer {
    -webkit-flex-direction: column;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Create three equal columns that sits next to each other */
.row {
    background-color: #0090af;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 15px;
    margin: 10px;
    width: 25%;
}

.imagestyle {

    background-color: white;
    padding: 15px;
    margin: 10px;
    width: 40%;
}

.row:hover {
    background-color: dimgray;
}

a {
    text-decoration: none;
    color: white;
}

img {
    border: 1px solid black;
    width: 40%;
    margin-left: 50%;
transform: translateX(-50%);
    height: 40%;
 }
