* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 100px;
}

#chart {
    margin: auto;
}